/* variables */
$black: #262626;
$white: #F7F7F7;
$gray-l: #ABABAB;
$gray-d: #525252;
$mark-l: #5F96D9;
$mark-d: #4771A3;
/* ======= */

/* mixins */
@mixin transition100ms() {
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
@mixin bob() {
    transform-origin: right center;
    animation: bob 0.8s infinite ease-in-out forwards alternate;
}
/* ======= */

/* keyframes */
@keyframes bob {
    0%{ transform: translateY(0); }
    100% { transform: translateY(.3em); }
}
/* ====== */


/*  menu  */
//
//  important notes are shown with (!)
//
//  1 - main
//  2 - filters
//  3 - cards
//  x - responsive breakpoints
//  z - misc
//
/* ====== */

/* 1 - main */
html, body {
    font-family: Hack, monospace;
    background-color: $white;
    color:$black;
    text-align: center;
}
section.hero {
    height:90vh;
    width:80%;
    margin: 0 auto;
    display:table;
}
.v-align {
    display:table-cell;
    vertical-align: middle;
}
section.cards {
    background-color: $black;
    color: $white;
    padding:2em;
}
footer {
    background-color: $black;
    color: $gray-l;
    padding:2em;
}
a, a:visited {
    text-decoration: none;
    color:$white;
    @include transition100ms();
}
a:hover {
    color: $gray-l;
}
.hidden {
    display:none;
}
/* ======= */

/* 2 - filters */
nav.filter-menu {
    background-color: $gray-l;
    color: $black;
}
.toggle-filters {
    padding:2em;
    cursor: pointer;
    @include transition100ms();
}
.toggle-filters:hover {
    color:$gray-d;
}
/* ======= */

/* 3 - cards */
.card {
    background-color:$white;
    color:$black;
    width:90vw;
    margin: 1em;
    text-align: left;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(28, 30, 33, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(28, 30, 33, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(28, 30, 33, 0.75);
}
.card a, .card a:visited {
    color: $gray-d;
}
.event-image {
    width:80px;
    height:80px;
    background-size: cover;
    margin:0;
    margin: 0;
    vertical-align:top;
}
.glance, .card {
    display:inline-block;
    vertical-align:top;
}
.glance .event-image, .glance .content {
    display:inline-block;
    float:left;
}
.glance .content {
    padding:1em 1.5em 0 1.5em;
    overflow: hidden;
}
.card a:hover {
  color: $black;
}
.card h3, .card .sharable, .card .more-info {
    display:inline-block;
    margin: 0;
}
.upper-row .fa-chevron-down {
    @include transition100ms;
}
.hidden-icons {
    color:$white !important;
}
.card .bottom-row {
    font-size: .9em;
    text-align: center;
    text-transform: uppercase;
}
.details {
    display:none;
    width:fit-content;
    background-color: lighten($gray-l, 25%);
    padding: 1em;
}
hr.invisible {
    display:none;
}
/* ======= */

/* z - misc */
.fa-chevron-down.large-icon {
    font-size: 2em;
    padding:2em;
    @include bob();
}
.divider {
    color:$gray-l;
}
/* ======= */

/* x - responsive breakpoints */
//RESPONSIVE
@media all and (min-width: 830) {
    .card .details {
        display:block;
    }
}
/* ======= */
